.mainbox{
    padding: 110px 80px;
    display: flex;
    gap: 80px;
}

.productleft, .productright{
    width: 45%;
}
.productdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.productimage{
    height: 500px;
    width: 100%;
}

.productimage img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.productdetails h2{
    color: green;
    font-size: 36px;
    margin-bottom: 10px;
}
.productdetails .productprice{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
   
}
.productdec {
    font-weight: 700;
    font-size: 20px;
}
.productdescription{
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}
.pricelist{
    padding-bottom: 10px;
    border-bottom: 2px dashed black;
    width: 600px;
    margin-bottom: 20px;
}
.quantitybtn {
    display: flex;
    align-items: center;
    gap: 20px;
}
.minusbtn{
    width: 35px;
    height: 35px;
    font-size: 26px;
    background-color: rgb(252, 213, 165);
    border: 2px solid darkorange;
    color: darkgreen;
}

.plusbtn{
     width: 35px;
    height: 35px;
    font-size: 26px;
    background-color: rgb(252, 213, 165);
    border: 2px solid darkorange;
    color: darkgreen;
}
.cartbtn{
    margin-top: 20px;
}
.addbtn{
    font-weight: bold;
    color: green;
    padding: 15px 35px;
    border-radius: 8px;
    background-color: rgb(212, 253, 214);
}
.tablecapacity{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tablecap{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
}
.tableselect{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
}
.tablebtn{
   font-weight: bold;
    color: green;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(212, 253, 214);
}
.cartheading{
    margin-top: 36px;
    margin-bottom: 10px;
}
.table-success {
  color: #16a34a;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.table-error {
  color: #dc2626;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}
.errormsg{
    display:flex ;
    float: right;
}